.form {
  width: 100%;

  text-align: left;
}

.form > label {
  display: block;

  width: 100%;

  margin-bottom: 25px;
}

.label_name {
  display: inline-block;

  width: 70px;
}

.add_contact_btn {
  display: block;

  margin-left: auto;
  margin-bottom: 25px;
}
